.foto{
    height: 350px;
    width: 540px;
    border-style: double;
    border-color: orangered;
}
.thumb img{
    display: inline-block;
    border: 3px solid orange;
    padding: 15px;
    /*background: aquamarine;*/
    margin-right: 5px;
    margin-bottom: 5px;
}
.button{
    margin: 20px;
    color: white;
    font-family: 'Arial Black';
    font-size: 35px;
    border:5px solid black;
    padding: 10px
}
#box {
    display: inline-block;
    background-color:aquamarine;
    padding: 10px;
    border: 5px solid black;
    width: 430px;
    height: 430px;
    margin-top: 10px;
    overflow: auto;
}
#content {
    text-align: center;
    font-size: 14px;
    font-style: oblique;
}
nav {
    margin: 27px auto 0;
    position: relative;
    width: 610px;
    height: 50px;
    background-color: gray;
    border-radius: 8px;
    font-size: 15px;
    font-family: Century;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 110px;
}
a:nth-child(3) {
    width: 110px;
}
a:nth-child(4) {
    width: 160px;
}
a:nth-child(5) {
    width: 110px;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #e74c3c;
}
nav .start-blog, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #1abc9c;
}
nav .start-basket, a:nth-child(3):hover~.animation {
    width: 110px;
    left: 210px;
    background-color: #CC0066;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 330px;
    background-color: #228B22;
}
nav .start-contact, a:nth-child(5):hover~.animation {
    width: 110px;
    left: 500px;
    background-color: #e67e22;
}
body {
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
}
h1 {
    margin: 20px 0 20px;
    text-align: center;
    font-size: 50px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
}
h2 {
    margin: 10px 0 10px;
    text-align: left;
    font-size: 30px;
    color: deeppink;
    text-shadow: 1px 1px 2px #000000;
    font-family: 'Cherry Swash',cursive;
}
h3{
    margin: 10px 0 10px;
    text-align: left;
    font-size: 20px;
    color: yellow;
    text-shadow: 1px 1px 2px #000000;
    font-family: 'Cherry Swash',cursive;
}
section>p {
    bottom: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Century Gothic";
    font-size: 20px;
}
a {
    color: black;
    font-size: 18px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: orange;
    text-align:center;
    padding: 5px;
}